venv
Accuracy.png
confusion_matrix.png
model2020221207-183355.h5
new_data copy.ipynb
data
assets
assets/val_abs.png
mlruns
models
runs/runs.csv
src/__pycache__
data_zipped/features.csv
data_zipped/labels.csv
data_zipped/QLA002 Tanda 2 caja 2 dia8a_MACHO_analisisComp.txt
data_zipped/QLA002T2M_1.csv
data_zipped/QLA002T2M_1_clean_1.csv
model2020221208-203152.h5
model2020221208-203312.h5
.vs
