venv
Accuracy.png
confusion_matrix.png
model2020221207-183355.h5
new_data copy.ipynb
data

assets/val_abs.png
mlruns
models
runs/runs.csv
src/__pycache__
data_zipped/features.csv
data_zipped/labels.csv
data_zipped/QLA002 Tanda 2 caja 2 dia8a_MACHO_analisisComp.txt
data_zipped/QLA002T2M_1.csv
data_zipped/QLA002T2M_1_clean_1.csv
model2020221208-203152.h5
model2020221208-203312.h5
.vs
data_zipped/chb01_03.edf
main_sz.ipynb
make_predictions.ipynb
.vscode/settings.json
__pycache__/streamlit.cpython-39.pyc
test_stramlit/
test_spectrogram/
assets/artifacts.png
assets/dataset_fransua.png
assets/desequilibre.png
assets/envolve.png
assets/first_results.png
assets/like_image.png
assets/norm_data.png
assets/output.png
assets/signal_normal_dark.png
assets/signal_segment.png
assets/split_windows.png
assets/quail.png
